.bad_gate_way{
  text-align: center;
  .container{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .bad_gate_way_img{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 150px;
    margin-inline: auto;
    cursor: pointer;
    transition: 0.33s;
    img {
      width: 100%;
    }
    span{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-30%,-50%);
    }
    &:hover{
      transform: scale(1.05);
      transition: 0.33s;
      span{
        color: white;
        font-weight: bolder;
        transition: 0.33s;
      };
    }
  }

}