@import "../share/mixin/styles";

.location {
  .container {
    max-width: 860px;

    h2 {
      text-align: center;
      margin-bottom: 30px;
      @include for-phone-only{
        margin-bottom: 15px;
      }
    }

    .location_company {
      display: flex;
      justify-content: center;
      gap: 30px;
      margin-bottom: 30px;
      @include for-tablet-only {
        gap: 10px;
      }
      @include for-phone-only {
        flex-wrap: wrap;
      }

      span {
        font: normal normal normal 24px/35px Poppins;
        @include for-desktop-1100 {
          font: normal normal normal 20px/30px Poppins;
        }
        @include for-tablet-only {
          font: normal normal normal 17px/26px Poppins;
        }
      }

      .company_name {
        font-weight: bold;
        @include for-phone-only {
          width: 100%;text-align: center;
        }
      }
    }
    .location_map{
      height: 483px;
      border-radius: 30px;
      overflow: hidden;
      @include for-phone-only{
        height: 320px;
      }
    }
  }


}