@import "../share/mixin/styles";

.btn-main-banner{
  justify-content: center;
  width: 279px;
  height: 40px;
  background-color: #F6E224;
  border-radius: 10px;
  transition: 0.33s;

  &:hover{
    background-color: #EE9C10;
    transition: 0.33s;
  }

  &:active{
    transform: scale(1.05);
    transition: 0.33s;
  }

  @include for-tablet-only{
    margin-inline: auto;
  }
}

section.main-banner {
  position: relative;
  overflow: hidden;
  @include for-tablet-only{
    padding-bottom: 0;
  }
  @include for-phone-only{
    padding-bottom: 0;
  }
  .main-banner-bg {
    width: 115%;
    height: calc(53%);
    background: rgb(0, 228, 254);
    background: linear-gradient(104deg, rgba(0,228,254,1) 31%, rgba(0,139,249,1) 100%);
    perspective-origin: top right;
    position: absolute;
    left: 50%;
    z-index: -100;
    transform: perspective(1200px) rotate3d(1, 4.8, -1, 10deg) translateX(-47%);
    -webkit-box-shadow: inset 0 191px 5px -189px rgba(0,0,0,0.26);
    -moz-box-shadow: inset 0 191px 5px -189px rgba(0,0,0,0.26);
    box-shadow: inset 0 191px 5px -189px rgba(0,0,0,0.26);
  }

  .container {
    padding-top: 50px;
    justify-content: space-between;
    align-items: start;
  }

  .main-banner-content{
    padding-top: 93px;

    h1{
      font-weight: 900;
      font-size: 84px;
      line-height: 125px;
      margin-bottom: 20px;
      -webkit-user-select: none;
      user-select: none;

    }

    p{
      font-weight: bold;
      font-size: 24px;
      line-height: 35px;
      margin-bottom: 20px;
      -webkit-user-select: none;
      user-select: none;
    }
  }

  .main-banner-img{
    max-width: 625px;
    display: flex;

    img{
      width: 100%;
    }
  }

  @include for-desktop-1400{
    .main-banner-bg {
      height: calc(100% * 0.55);
      transform: perspective(1200px) rotate3d(1, 5.7, -1, 10deg) translateX(-47%);
    }
    .main-banner-content {
      padding-top: 73px;
      h1{
        font-size: 68px;
        line-height: 90px;
      }
      p{
        font-size: 20px;
        line-height: 30px;
      }
    }
    .main-banner-img{
      max-width: 480px;
    }
  }

  @include for-desktop-1100{
    .main-banner-bg {
      height: calc(100% * 0.55);
      transform: perspective(1200px) rotate3d(1, 6.1, -1, 10deg) translateX(-47%);
    }
    .main-banner-content {
      padding-top: 63px;

      h1{
        font-size: 54px;
        line-height: 80px;
      }

      p{
        font-size: 16px;
        line-height: 26px;
      }
    }

    .main-banner-img{
      max-width: 420px;
    }
  }

  @include for-tablet-only{
    margin-bottom: 50px;
    .main-banner-bg{
      display: none;
    }
    .container{
      padding: 0 20px 50px ;
      justify-content: start;
      background: rgb(0, 228, 254);
      background: linear-gradient(90deg, rgba(0,228,254,1) 31%, rgba(0,139,249,1) 100%);
      -webkit-box-shadow: inset 0 191px 5px -189px rgba(0,0,0,0.26);
      -moz-box-shadow: inset 0 191px 5px -189px rgba(0,0,0,0.26);
      box-shadow: inset 0 191px 5px -189px rgba(0,0,0,0.26);

      .main-banner-img{
        position: absolute;
        top: 50%;
        left: 50%;
        max-width: 400px;
        transform : rotate(28deg) translate(-20%,-50%);
        z-index: 0;
      }

      .main-banner-content{
        position: relative;
        z-index: 5;
        padding: 0;
        align-items: center;
        text-shadow: 1px 1px 1px white;

      }
    }
  }

  @include for-phone-only{
    margin-bottom: 25px;
    .container{
      padding: 25px 20px;
      justify-content: center;
      text-align: center;
      h1{
        font-size: 48px;
        line-height: 56px;
      }
    }
    .main-banner-img{
      display: none;
    }


  }
}
